@font-face {
	font-family: "NotoArabicExtraCondensedLight";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/NotoArabicExtraCondensedLight.ttf");
}

@font-face {
	font-family: "NotoSansExtraCondensedLight";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/NotoSansExtraCondensedLight.ttf");
}
